
<div class="mx-auto my-[100px] w-[1000px]">
  <div class="flex justify-end mb-5">
    <%= button_to 'QRを発行', admin_order_units_path, class:'btn btn-primary', form: {data: {turbo_confirm: "qrコードを発行します！！"}} %>
  </div>
  <div class="overflow-x-auto">
    <table class="table w-full">
      <thead>
        <tr>
          <th>id</th>
          <th>code</th>
          <th>image</th>
          <th>発行日時</th>
          <th>会計日時</th>
        </tr>
      </thead>
      <tbody>
        <% @order_units.each do |order_unit| %>
        <tr>
          <td><%= order_unit.id %></td>
          <td><%= order_unit.code %></td>
          <td class="bg-white flex justify-center"><%= order_unit.qrcode %></td>
          <td><%= l order_unit.created_at, format: :long %></td>
          <td><%= order_unit&.order&.paid_at && l(order_unit.order.paid_at, format: :long) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
